.key {
    border: 2px solid #000;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    background: rgba(163, 180, 123, 0.482);
}
.key p {
    line-height: 80px;
    margin: 0;
    font-weight: bold;
    font-size: 2em;
    font-family: 'UnifrakturMaguntia', 'Blackletter', serif;
}
.key.active {
    background: rgba(100, 115, 65, 0.482);
    box-shadow: inset 0 0 0 2px #000;
}