.key {
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: rgba(163, 180, 123, 0.482);
}
.key p {
    line-height: 50px;
    margin: 0;
    font-weight: bold;
    font-family: 'UnifrakturMaguntia', 'Blackletter', serif;
}
.key.active {
    width: 46px;
    height: 46px;
    background: rgba(100, 115, 65, 0.482);
    border: 4px solid #000;
}