
.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.key-row {
    display: flex;
    justify-content: center;
}
.key{
    margin: 2px;
}
.space{
    width: 400px;
}
.space.key.active{
    width: 400px;
}