.play-button {
    border: 2px solid #000;
    display: inline-block;
    width: 150px;
    height: 80px;
    text-align: center;
    background: rgba(163, 180, 123, 0.482);
    cursor: pointer;
    transition: all 0.1s ease;
    line-height: 80px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'UnifrakturMaguntia', 'Blackletter', serif;
}

.play-button:hover {
    background: rgba(140, 160, 100, 0.6);
}

.play-button:active {
    background: rgba(100, 115, 65, 0.482);
    box-shadow: inset 0 0 0 2px #000;
}
