.play-button {
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: rgba(163, 180, 123, 0.482);
    cursor: pointer;
    transition: all 0.1s ease;
    font-weight: bold;
    font-family: 'UnifrakturMaguntia', 'Blackletter', serif;
}

.play-button:hover {
    background: rgba(140, 160, 100, 0.6);
}

.play-button:active {
    transform: scale(0.95);
    width: 46px;
    height: 46px;
    background: rgba(100, 115, 65, 0.482);
    border: 4px solid #000;
}
